@use "./variables.scss" as *;

* { box-sizing: border-box; }

html, body { height: 100%; }

:root {
  --font-ui: "Vazirmatn", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
}

body {
  margin: 0;
  font-family: var(--font-ui);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $text;
  background: $bg;
  overflow-x: hidden;
}

a { color: inherit; }

.container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 16px;
}

.section { padding: 56px 0; }

.h1 {
  margin: 0 0 10px;
  font-size: clamp(26px, 3vw, 42px);
  font-weight: 950;
}

.h2 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 950;
}

.muted { color: $muted; line-height: 2; }
